@import "header.css";
@import "main.css";
@import "img.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
;:root{
  --bg: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.body {
  background-color:white;
}
.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
}

@media (max-width: 690px){
  .header-logo_img{
    margin-left:20px;
    width: 60px;
  }
  .header-title{
    font-size: 30px;
    text-align: center;
    margin-bottom:0;
  }
  .img{
    margin-left:20px;
    width: 300px;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    
  }
  .section-input{
    width: 300px;
    height: 300px;
    margin-left:30px;

  }
  .input{
    width: 200px;
  }
  .btn-login{
    width: 200px;
    padding: 10px 10px;
  }
 
  .img-input{
    width: 10px;
  }
  .login-title{
    display: none;

  }
  .username{
    margin-top:0;
  }
}

