.section-img {
    width:50vw;

}

.section-login {
    width:50vw;
}
.section-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: rgba(189, 89, 214, 0.30);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px  rgba(189, 89, 214, 0.30)
}
.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    margin: 10px 0;
}
.login{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

}
 input{
    width: 100%;
    border: none;
    border-radius:10px;
    padding:15px;
    background-color: rgba(189, 89, 214, 0.30);
    box-shadow: 0px 10px 40px  rgba(189, 89, 214, 0.30);
    outline: none;
    font-size: 17px
}
.btn-login{
    margin-top: 20px;
    width: 100%;
    padding:16px 0px;
    border: none;
    border-radius:8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing:3px;
    cursor:pointer;
    color: rgb(152, 65, 173);
    box-shadow: 0px 10px 40px -12px rgba(189, 89, 214, 0.384);
}
.img-login > img{
    width:50px;
}
.login-title{
    text-transform: uppercase;
    color: rgba(189, 89, 214);
}
.img-login{
    display: flex;
    flex-direction: column;
    align-items:center;
}